@page "/"

<PageTitle>Find your birthday pokemon!</PageTitle>

<div class="container">
    <h1>Find your birthday pokemon!</h1>

    <p>Enter your birth date to see which Pokemon corresponds to it!</p>

    <div class="mb-3">
        <p>This uses dd/mm/yyyy format, but you can switch between dd/mm/yyyy and mm/dd/yyyy below the date input.</p>
        <DateInput TValue="DateOnly" @bind-Value="@birthday" Placeholder="Select your birth date" />
    </div>

    <div>
        <Switch @bind-Value="MonthDayFormat" Label="Switch between Day-Month or Month-Day DateFormat" />

        <p>The current format is: @inputFormat</p>
    </div>


    @if (string.IsNullOrEmpty(pokemonImageUrl))
    {
        <p class="mt-3">Please select your birth date to see your Pokemon!</p>
    }
    else
    {
        <div class="mt-3">
            <h3>Your Pokemon is:</h3>
            <img src="@pokemonImageUrl" alt="Pokemon Image" class="pokemonimage" />
            <div><span>#@pokedexNumber</span> - <span>@pokemonName</span></div>
        </div>
    }

    <div class="btn-pokemon">
        <Button Class="mt-3" @onclick="OnGetBirthdayPokemonAsync" Color="ButtonColor.Primary" Size="ButtonSize.Large">Show My Pokemon</Button>
    </div>
</div>



